@page "/concerthall/{Id}"

@using BusinessLayer.Interfaces
@using DataLayer.Entities

@inject NavigationManager NavigationManager
@inject IConcertHallRepository ConcertHallRepository

<div class="profilePage">
    <a href="" class="mainText">ConcertTracker</a>
    <img class="concertHallImage" src="Images/antoine-julien-Ke6Pr-9A2ac-unsplash 1.png"
             alt="" />
    <div class="profileContainer">
        <div class="profileInfo">
            <div class="higherInfo">
                <img src="/uploads/@foundConcertHall.Photo" alt="" />
                <div class="profileLeftInfo">
                    <p><strong>Name:</strong> @foundConcertHall.Name</p>
                    <p><strong>Address:</strong> @foundConcertHall.Address</p>
                    <p><strong>Description:</strong> @foundConcertHall.Description</p>
                </div>
            </div>
            <div class="concertsList">
                <p><strong>Last concerts:</strong></p>
                @foreach (var concert in concertHallConcerts)
                {
                    <a href="/concert/@concert.Id">Date: @concert.Date    Description: @concert.Description</a>
                }
            </div>
<AuthorizeView Roles="Admin"><button @onclick="DeleteConcertHall">Delete</button></AuthorizeView>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public string Id { get; set; }

    protected ConcertHall foundConcertHall = new ConcertHall();
    protected List<Concert> concertHallConcerts = new List<Concert>();

    protected override async Task OnInitializedAsync()
    {
        foundConcertHall = await ConcertHallRepository.GetConcertHallByIdAsync(Convert.ToInt32(Id));
        concertHallConcerts = await ConcertHallRepository.GetConcertsOfConcertHallAsync(foundConcertHall);
    }

    private async Task DeleteConcertHall()
    {
        await ConcertHallRepository.DeleteConcertHallAsync(foundConcertHall);
        NavigationManager.NavigateTo("map");
    }

}
