@page "/map"

@using Radzen
@using BusinessLayer.Interfaces 
@inject IConcertHallRepository ConcertHallRepository

<div class="row">
    <div class="col-xl-6">
        <EditForm Model="@newConcertHall" OnValidSubmit="@InsertConcertHall">
            <RadzenGoogleMap Style="height:100vh; overflow:hidden;" Zoom="@zoom" Center="@(new GoogleMapPosition() { Lat=55.7491, Lng = 37.6258})" MapClick="@OnMapClick" MarkerClick="@OnMarkerClick">
                <Markers>
                    <RadzenGoogleMapMarker Title="London" Label="London" Position="@(new GoogleMapPosition() { Lat=51.5074, Lng = 0.1278})"></RadzenGoogleMapMarker>
                </Markers>
            </RadzenGoogleMap>
        </EditForm>
    </div>
</div>

<div class="col-xl-6">
    <label>Position: </label> @clickedPosition
</div>

@code {
    int zoom = 6;
    string clickedPosition = "";



    void OnMapClick(GoogleMapClickEventArgs args)
    {
        clickedPosition = $"Map clicked LAT: {args.Position.Lat}, LNG: {args.Position.Lng}";
    }
    void OnMarkerClick(RadzenGoogleMapMarker args)
    {
        clickedPosition = $"Map {args.Title} clicked LAT: {args.Position.Lat}, LNG: {args.Position.Lng}";
    }
}
