@page "/map"

@using Radzen
@using BusinessLayer.Interfaces
@using DataLayer
@using DataLayer.Entities
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore
@using BusinessLayer.Implementations
@using BusinessLayer

@inject IInsertData InsertData
@inject DataManager DataManager
@inject IDbContextFactory<ApplicationDbContext> ContextFactory
@inject RoleManager<IdentityRole> roleManager
@inject UserManager<User> userManager
@inject IConcertRepository ConcertRepository
@inject IConcertHallRepository ConcertHallRep
@inject IUserRepository UserRepository
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="mapPage">
    <a href="" class="mainText">ConcertTracker</a>
    <div class="mapContainer">
        <div class="map">
            <RadzenGoogleMap Style="width:auto; height:100%;" Zoom="@zoom" Center="@(pos)" MapClick="@OnMapClick" MarkerClick="@OnMarkerClick">
                <Markers>
                    <RadzenGoogleMapMarker Title="User" Label="Current Marker" Position="@(new GoogleMapPosition() { Lat = pos.Lat, Lng = pos.Lng })"></RadzenGoogleMapMarker>
                    @if (concerts != null)
                    {
                        foreach (var concert in concerts)
                        {
                            <RadzenGoogleMapMarker Title="@concert.Id.ToString()" Label="" Position="@concert.Position"></RadzenGoogleMapMarker>
                        }
                    }
                </Markers>
            </RadzenGoogleMap>
        </div>
        <EditForm Model="@newConcert" OnValidSubmit="@InsertConcert" class="concertInfo">
            @if (isArtist && (concertArtists.Contains(artist) || concertArtists.Count == 0) || isAdmin)
            {
                <a class="hdr">Date:</a>
                <RadzenDatePicker  @bind-Value="@newConcert.Date" />
                <a class="hdr">
                    Concert hall:
                    <img @onclick="clickAddConcertHall" src="Images/free-icon-plus-149688.svg" />
                                            @if (addConcertHallClicked == true)
                                            {
                                                <div class="addArtistToConcertArea">
                                                        @foreach (var foundConcertHall in allConcertHalls)
                                                        {
                                                            <div class="foundArtist">
                                                                @if (foundConcertHall.Photo != null)
                                                                {
                                                                    if (foundConcertHall.Photo.Contains("http"))
                                                                    {
                                                                        <img src="@foundConcertHall.Photo" alt=""/>
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src="uploads/@foundConcertHall.Photo">
                                                                    }
                                                                }
                                                                <p>@foundConcertHall.Name</p>
                                                                <img @onclick="@(() => AddConcertHallToConcert(foundConcertHall))" src="Images/free-icon-plus-149688.svg"/>
                                                            </div>
                                                        }
                                                </div>
                                             }
                </a>
                <a href="/concerthall/@newConcert.ConcertHall.Id" class="hdr" Style="font-size:18px; font-weight: 400;">@newConcert.ConcertHall.Name</a>
                <a class="hdr">
                    Artists:
                    <img @onclick="clickAddArtist" src="Images/free-icon-plus-149688.svg" />
                        @if (addArtistClicked == true)
                        {
                            <div class="addArtistToConcertArea">
                                    @foreach (var foundArtist in allArtists)
                                    {
                                        var artistToList = (Artist)foundArtist;
                                        <div class="foundArtist">
                                            @if (foundArtist.Photo != null)
                                            {
                                                if (foundArtist.Photo.Contains("http"))
                                                {
                                                    <img src="@foundArtist.Photo">
                                                }
                                                else
                                                {
                                                    <img src="uploads/@foundArtist.Photo">
                                                }
                                            }
                                            <p>@foundArtist.UserName</p>
                                            <img @onclick="@(() => AddArtistToConcert(artistToList))" src="Images/free-icon-plus-149688.svg"/>
                                        </div>
                                    }
                            </div>
                         }
                </a>
                foreach (var concertArtist in newConcert.Artists)
                {
                    <a href="/user/@concertArtist.Id" class="hdr" style="font-size:18px; font-weight: 400;">@concertArtist.UserName</a>
                }
                <a class="hdr">Description:</a>
                <InputTextArea Style="font-size:18px; padding: 0.5rem;" id="desc" @bind-Value="@newConcert.Description" class="descInput" />
                <button type="submit" class="btn btn-primary">Submit</button>
            }
            else
            {
                <a class="hdr">Date:</a>
                <RadzenDatePicker @bind-Value="@newConcert.Date" disabled />
                if (newConcert.ConcertHall != null)
                {
                    <a class="hdr">Concert hall:</a>
                    <a href="/concerthall/@newConcert.ConcertHall.Id.ToString()" class="hdr" Style="font-size:18px; font-weight: 400;">@newConcert.ConcertHall.Address</a>
                }
                <a class="hdr">Artists:</a>
                foreach (var concertArtist in concertArtists)
                {
                    <a href="/user/@concertArtist.Id" class="hdr" style="font-size:18px; font-weight: 400;">@concertArtist.UserName</a>
                }
                <a class="hdr">Description:</a>
                <InputTextArea Style="font-size:18px; padding: 0.5rem;" id="desc" @bind-Value="@newConcert.Description" class="descInput" disabled />
            }
            @if (newConcert.Id != 0)
            {
                <a href="/concert/@newConcert.Id.ToString()">Details...</a>
            }
        </EditForm>
    </div>
</div>

@code {
    int zoom = 15;
    string clickedPosition = "";

    private ICollection<ConcertHall> concertHalls;
    private ICollection<Concert> concerts;
    private IList<User> allArtists = new List<User>();
    private ICollection<ConcertHall> allConcertHalls;
    private bool isArtist;
    private bool isAdmin;
    private bool addArtistClicked = false;
    private bool addConcertHallClicked = false;
    private List<Artist> concertArtists = new List<Artist>();
    Artist artist;
    Admin admin = new Admin();
    Concert newConcert = new Concert
    {
        Date = DateTime.Now,
        Artists = new List<Artist>(),
        ConcertHall = new ConcertHall()
    };

    GoogleMapPosition pos = new GoogleMapPosition() { Lat = 55.7491, Lng = 37.6258 };

    protected override async Task OnInitializedAsync()
    {

        //await InsertData.InsertAllData();
        
        concertHalls = await ConcertHallRep.GetAllConcertHallsAsync();
        concerts = await ConcertRepository.GetAllConcertsAsync();
        allArtists = await userManager.GetUsersInRoleAsync("Artist");
        allConcertHalls = await ConcertHallRep.GetAllConcertHallsAsync();
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var auser = authState.User;
        var user = await userManager.GetUserAsync(auser);
        isArtist = auser.IsInRole("Artist");

        if (isArtist)
            artist = (Artist)user;

        isAdmin = auser.IsInRole("Admin");

        if (isAdmin)
            admin = (Admin)user;
    }

    void OnMapClick(GoogleMapClickEventArgs args)
    {
        clickedPosition = $"Map clicked LAT: {args.Position.Lat}, LNG: {args.Position.Lng}";
        pos.Lat = args.Position.Lat;
        pos.Lng = args.Position.Lng;
        newConcert = new Concert
        {
            Date = DateTime.Now,
            Artists = new List<Artist>(),
            ConcertHall = new ConcertHall()
        };
        concertArtists = new List<Artist>();
    }

    private async Task OnMarkerClick(RadzenGoogleMapMarker args)
    {
        clickedPosition = $"Map {args.Title} clicked LAT: {args.Position.Lat}, LNG: {args.Position.Lng}";
        var foundConcert = await ConcertRepository.GetConcertByIdAsync(Convert.ToInt32(args.Title));
        newConcert = foundConcert;
        concertArtists = await ConcertRepository.GetArtistsOfConcertAsync(foundConcert);
        newConcert.Artists = concertArtists;
        pos.Lat = foundConcert.Position.Lat;
        pos.Lng = foundConcert.Position.Lng;
    }

    private async Task InsertConcert()
    {
        var conc = await ConcertRepository.GetConcertByPositionAsync(pos);

        newConcert.Position = pos;

        Concert concert = new Concert
        {
            Description = newConcert.Description,
            Date = newConcert.Date,
            Position = newConcert.Position,
            ConcertHall = newConcert.ConcertHall,
            ConcertHallId = newConcert.ConcertHallId,
            Artists = newConcert.Artists
        };

        if (conc != null)
        {
            await ConcertRepository.UpdateConcertAsync(conc);
        }

        else
        {
            concert.Artists.Add(artist);

            await ConcertRepository.AddConcertAsync(concert);

            concerts.Add(concert);
        }

        pos = new GoogleMapPosition() { Lat = 55.7491, Lng = 37.6258 };
        newConcert = new Concert
        {
            Date = DateTime.Now,
            Artists = new List<Artist>(),
            ConcertHall = new ConcertHall()
        };
    }

    private async Task AddArtistToConcert(Artist chosenArtist)
    {
        if(newConcert.Id != 0)
            await ConcertRepository.AddArtistToConcertAsync(chosenArtist, newConcert);
        else
        {
            newConcert.Artists.Add(chosenArtist);
        }
    }
    
    private async Task AddConcertHallToConcert(ConcertHall chosenConcertHall)
    {
        if(newConcert.Id != 0)
            await ConcertRepository.SetConcertHallToConcertAsync(chosenConcertHall, newConcert);
        else
        {
            newConcert.ConcertHall = chosenConcertHall;
        }
    }

    private void clickAddArtist()
    {
        addArtistClicked = !addArtistClicked;
    }
    
    private void clickAddConcertHall()
    {
        addConcertHallClicked = !addConcertHallClicked;
    }

}
